
/**
 * resets
 */

body, html, #app {
    height: 100%;
}

body,h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0;
}


/**
 * layouts
 */

.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    .sidebar {
        width: 230px;
        height: 100%;
        background-color: #5ABF04;
        color: #fff;
    }
    .contents {
        width: calc(100% - 230px);
        .block-base {
            margin: 0 auto;
            height: 100%;
            position: relative;
            background: #f7f7f7;
            .horizontal-grid-layer {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                justify-content: space-between;
                .horizontal-grid {
                    height: 100%;
                    background: #f1f1f1;
                }
            }
            .text-layer {
                position: relative;
                z-index: 1;
            }
        }
    }
}


/**
 * Parts styles
 */

.title-label {
    margin-left: 10px;
    display: inline-block;
    font-size: 14px;
    padding: 2px 5px;
    background-color: #000;
    color: #fff;
}
